<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogToConsole="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${longdate}|${event-properties:item=EventId_Id}|${pad:padding=1:inner=${level:uppercase=true}:fixedLength=true}|${pad:padding=-50:inner=${logger}:fixedLength=true:alignmentOnTruncation=right}|${message} ${exception:format=tostring}"/>
  </targets>
  
  <rules>

    <!--All logs, including from Microsoft-->
    <!-- <logger name="*" minlevel="Trace" writeTo="trace" /> --> 
    
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>